/* Global box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto Medium", "Roboto", sans-serif;
    letter-spacing: 0.2px;
    width: 100%;
    margin: 0; /* upewnij się, że body nie ma marginesów domyślnych */
    overflow-x: hidden; /* zabezpieczenie przed poziomym scrollowaniem */
}

header {
    position: sticky;
    top: 0; /* poprawka top -1 na 0 */
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    padding: 24px;
    font-weight: 600;
    color: #1d1d1d;
    justify-content: space-between;
    font-size: 18px;
    background-color: #ffffff;
}

p.czas {
    text-align: center;
    color: #4a4a4a;
    font-size: 12px;
}

main {
    position: relative;
    background-image: url(/assets/dowodnowybg.png);
    margin: 16px 20px 0 20px;
    width: calc(100% - 40px);   /* szerokość ekranu minus marginesy */
    height: 385px;              /* stała wysokość */
    display: flex;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;           /* nie szerzej niż ekran */
    overflow: hidden;           /* TREŚĆ NIE MOŻE BYĆ PRZEWIJANA W ŚRODKU */
}

.all {
    width: 98%;
}

#lew {
    position: relative;
    margin: 20px;
    width: 45%;
}

#lew img {
    border-radius: 16px;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black 98%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 96%, transparent 100%);
}

#lew #flaga {
    width: 55%;
    margin: 0;
}

#lew #godlo {
    width: 25%;
}

#lew p {
    font-size: 11px;
    color: #808080;
}

#rzecz {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#rzecz p {
    margin-left: 4px;
}

#praw {
    position: relative;
    margin: 20px;
    width: 65%;
}

#praw p:not(.sub) {
    font-size: 15px;
    color: #1d1d1d;
    font-weight: 600;
}

#praw .sub {
    font-size: 12px;
    color: #4a4a4a;
    font-weight: 500;
}

#praw br {
    content: "";
    margin: 3em;
    display: block;
    font-size: 24%;
}

#bottom {
  overflow: hidden; 
    position: relative;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 12px 12px;
    margin: 0 20px 0 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #598527;
    font-size: 14px;
    font-weight: 600;
    max-width: 100vw; /* zabezpieczenie przed overflow */
    overflow-x: hidden;
}

#bottom p {
    margin-left: 20px;
}
#kupa {
    margin-top: -35px;
}
.buto {
    margin: 16px 16px 0 16px;
    height: 80px;
    display: flex;
    background-color: #ffffff;
    padding: 45px 22px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 17px;
}
.butow {
    margin: 16px 16px 0 16px;
    height: auto;
    display: flex;
    background-color: #ffffff;
    padding: 10px 22px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 17px;
}

.buto img:first-of-type:not(.buto img:last-of-type) {
    width: 20px;
    margin-right: 10px;
}

.buto img:last-of-type {
    margin-left: auto;
    width: 40px;
}

#lo {
    margin-bottom: 0;
    padding: 0 20px;
    height: 60px;
}

.krecha,
.krecha2 {
    height: 0.01rem;
    width: 100%;
    background-color: #dddddd;
}

.krecha2 {
    margin-left: 5%;
    margin: 8px 0;
}

.content {
    margin: 0 16px 0 16px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 12px 12px;
}

.content .dana {
    padding: 16px 0;
}
.series {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
}
.info-dowod {
    margin-bottom: 5px;
    color: gray;
    font-size: smaller;
}
#copy {
  
  margin-left: auto;
  color: #014a93;
  font-size: 14px;
  background-color: #dbeaf9;
  padding: 6px 16px;
  border-radius: 24px;
  letter-spacing: 0.2px;
  border: none;
  align-self: flex-start;   /* <<< to sprawi, że “podskoczy” do góry */
}
.icons {
    margin-top: 20px ;
    justify-content: center;  /* wyśrodkowanie poziome */
     align-items: center; 
    display: flex;
    width: auto;
    height: auto;
    gap: 30px;
}
.icons img {
    height: 30px;
    width: auto;
}
.icons button {
 background-color: #ffffff;
    width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
  overflow: hidden; /* przycina obrazek, jeśli wystaje */
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons p {
    font-size: 15px;
}
.info {
    font-size: 14px;
    color: rgba(74, 74, 74, 0.99);
}

.main {
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 600;
    text-decoration: none;
}

#aktualizuj {
    margin: 16px 0;
    margin-left: auto;
    color: #014a93;
    font-size: 14px;
    text-align: center;
    background-color: #dbeaf9;
    padding: 6px 16px;
    border-radius: 24px;
    letter-spacing: 0.2px;
}

.disclaimer {
    font-size: 8px;
    color: #dddddd;
    font-weight: 500;
    margin: 16px 20px;
}

#szaro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#wybierzdokument,
#danedowodowe {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 95%;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 32px 32px 0 0;
    display: flex;
    flex-direction: column;
}

#wybierzdokument {
    align-items: center;
}

#danedowodowe {
    align-items: left;
}

#krech {
    margin: 16px;
    height: 0.38rem;
    width: 35%;
    background-color: #dddddd;
    border-radius: 16px;
}

#wybierztitle {
    font-size: 18px;
    color: #1d1d1d;
    margin: 48px;
    font-weight: 600;
}

@media (max-width: 393px) {
    body {
        overflow-x: hidden; /* zabezpieczenie */
    }
    header {
        width: 100%;
        max-width: 393px;
        padding: 24px 10px;
    }
    .all {
        width: 99%;
        max-width: 390px;
        margin: 0 auto;
    }
    main {
        margin: 16px 10px 0 10px;
        max-width: calc(100vw - 20px);
        overflow-x: hidden;
    }
    #bottom {
        margin: 0 10px 0 10px;
        max-width: calc(100vw - 20px);
        overflow-x: hidden;
    }
}

#danetitle {
    font-size: 18px;
    color: #1d1d1d;
    margin: 32px 48px 0 32px;
    font-weight: 600;
}

.wybierzitem {
    width: 90%;
    /* height: 27%; */
    margin-bottom: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 32px 36px;
    line-height: 1.2;
    background-repeat: no-repeat;
    background-size: cover;
}

.wybierzitem#wi1 {
    background-image: url(/assets/warstwa_1.png);
}

.wybierzitem#wi2 {
    background-image: url(/assets/warstwa_2.png);
}

.wybierzitem button {
    border-radius: 24px;
    background-color: #014a93;
    font-family: "Roboto Medium", "Roboto", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    font-size: 16px;
    padding: 16px;
    margin-top: 16px;
    background-repeat: no-repeat;
}

.zamknijprzycisk {
    border-radius: 24px;
    background-color: white;
    border: #014a93 solid 1px;
    font-family: "Roboto Medium", "Roboto", sans-serif;
    font-weight: 600;
    color: #014a93;
    text-align: center;
    line-height: normal;
    font-size: 16px;
    padding: 16px;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
}

.wrocprzycisk {
    border-radius: 24px;
    border: white solid 1px;
    background-color: white;
    font-family: "Roboto Medium", "Roboto", sans-serif;
    font-weight: 600;
    color: #014a93;
    text-align: center;
    line-height: normal;
    font-size: 16px;
    padding: 16px;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
}

.dowo {
    font-size: 24px;
    color: #1d1d1d;
    font-weight: 600;
    margin-bottom: 16px;
}

#wi1 {
    background-image: url(../dowod_files/warstwa_1.png);
}

#wi2 {
    background-image: url(../dowod_files/warstwa_2.png);
}

.ovh {
    overflow: hidden;
}

#arrow,
#rotation {
    padding: 8px;
}

#danebox {
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #dddddd;
}

.seria {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#kopiuj {
    color: #014a93;
    font-size: 14px;
    text-align: center;
    background-color: #dbeaf9;
    padding: 6px 16px;
    border-radius: 24px;
    letter-spacing: 0.2px;
    margin-right: 16px;
    margin-bottom: 16px;
}

#bottooom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

